

<p>Saludos</p>
<p>Usted solicito la recuperacion de su contraseña</p>
<p>El siguiente codigo sera utilizado para verificar su identidad.</p>
<p style="font-weight: bold;"> {{ code }}</p>

<p>Si usted no solicitó este correo, puede ingorarlo.</p>
